<html>
<head><title>Admin</title></head>
<body>
  <form action="/start">
    <input type="submit" value="Start">
  </form>
  <form action="/stop">
    <input type="submit" value="Stop">
  </form>
  <br /><br />
  <div>
    # of connected clients: <%= clients %>
  </div>
</body>
</html>
