<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Tifo Admin</title>
</head>
<body>
  <form action="/start">
    <input type="submit" value="Start">
  </form>
  <form action="/stop">
    <input type="submit" value="Stop">
  </form>
  <br /><br />
  <div>
    # of connected clients: <%= clients %>
  </div>
</body>
</html>
