<html>
<head><title>Test</title></head>
<body>
  <form action="/start">
    <input type="submit" value="Start">
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</body>
</html>
