<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <title>Tifo</title>

  <style>
  #location {
    width: 100px;
    height: 100px;
    font-size: 30pt;
    text-align: center;
  }
  </style>
</head>
<body onLoad="document.getElementById('location').focus();">
  <div class="container">
      <div class="center-block">
        <form action="" method="POST">
          <div class="form-group">
            <input type="text" id="location" name="location">
            <input class="btn btn-dark" type="submit">
          </div>
        </form>
      </div>
      <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          Invalid location, please enter row and number (ex. A12).
        </div>
        <% } %>
    </div>
  </body>
  </html>
