<html>
<head><title>Test</title></head>
<body>
  <div id="content"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io();
    socket.on('start', function(){
      $('#content').append($('<li>').text("Test"));
    });
  </script>
</body>
</html>
